:root {
  --color-main: #14375f;
  --color-bg-main: #f5f6f8;
  --color-link: #1a71e8 !important;
  --color-green: #63fa87;
  --color-green-hover: #008000;
  --color-orange: #f76620;
  --color-orange-hover: #ff4500;
  --color-yellow: #ffb400;
  --color-white: #ffffff;
  --color-puple: #9f22d6;
  --color-red: #df322b;
  --color-add: #6610f2;
  --color-view: #8601af;
  --color-edit: #ffb400;
  --color-delete: #df322b;
  --color-save: #28a745;
  --color-upload: #66b032;
  --color-border: #e1e1e1;
  --color-text-gray: #565656;
  --color-text: #222222;
  --color-text-3: #333333;
  --color-text-3-80: rgba(51, 51, 51, 0.8);
  --color-bg-light-sky: #edf1fb;
  --color-dask-link: #2262ab;
  --color-nv: #d4145a;
}
