<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chức năng</title>
    <link rel="stylesheet" href="../assets/css/styles.css">

</head>

<body>
    <div class="header fixed-top">
        <div class="top-nav ">
            <div class="head-logo">
                <a href="index.html">
                    <img class="logo-icon" src="../assets/images/logo/logo-icon.png">
                    <img class="logo-text" src="../assets/images/logo/logo-text.png">
                </a>
            </div>
            <div class="head-search-form">
                <div class="head-search-toggle">
                    <i class="fal fa-search"></i>
                </div>
                <div class="head-search-box">
                    <div class="form">
                        <input type="text" class="search-imput" placeholder="Tìm kiếm thông tin">
                        <button class="search-btn">
                            <i class="fal fa-search"></i>
                        </button>
                    </div>
                </div>

            </div>
            <div class="main-menu">
                <ul class="list-unstyled">
                    <li class="item ">
                        <a class="menu-link" href="../index.html">
                            <i class="fal fa-home"></i>
                            <span>Trang chủ</span>
                        </a>
                    </li>
                    <li class="item">
                        <a class="menu-link" href="../dashboard.html">
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="item">
                        <a class="menu-link" href="../modul.html">
                            <span>Modul</span>
                        </a>
                    </li>
                    <li class="item">
                        <a class="menu-link" href="../chucnang-cuaban.html">
                            <span>Chức năng của bạn</span>
                        </a>
                    </li>
                    <li class="item">
                        <a class="menu-link" href="../tintuc.html">
                            <span>Tin tức</span>
                        </a>
                    </li>
                </ul>
                <div class="menu-toggle">
                    <i class="fal fa-bars"></i>
                </div>
            </div>
            <div class="account-group">
                <div class="dropdown ">
                    <div class="item" data-bs-toggle="dropdown">
                        <i class="fal fa-circle-check"></i>
                        <span>3</span>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <div class="item message" data-bs-toggle="dropdown">
                        <i class="fal fa-messages"></i>
                        <span>3</span>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <div class="item noti" data-bs-toggle="dropdown">
                        <i class="fal fa-bell"></i>
                        <span>9+</span>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
                <div class="dropdown">
                    <div class="item" data-bs-toggle="dropdown">
                        <img src="../assets/images/avatar.jpg" class="avatar">
                    </div>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="function mt-50">
        <div class="function-nav">
            <div class="action-function">
                <a href="chart.html" class="btn btn-view">
                    <i class="fa-light fa-chart-bar"></i>
                    <span>Chart</span>
                </a>
                <a href="table.html" class="btn btn-view">
                    <i class="fa-light fa-table"></i>
                    <span>Table</span>
                </a>
                <a href="forms.html" class="btn btn-view">
                    <i class="fa-light fa-input-text"></i>
                    <span>form</span>
                </a>
                <a href="pagingnation.html" class="btn btn-view">
                    <i class="fa-light fa-table"></i>
                    <span>Pagination</span>
                </a>
                <a href="filter.html" class="btn btn-view">
                    <i class="fa-light fa-filter-list"></i>
                    <span>Filter</span>
                </a>
            </div>
        </div>
        <div class="function-content">
            <div class="fs-18 fw-bold mb-10 text-main">checkbox</div>
            <div class="w-50">
                <div class="custom-select">
                    <select class="form-select">
                      <option value="0">Select car:</option>
                      <option value="1">Audi</option>
                      <option value="2">BMW</option>
                      <option value="3">Citroen</option>
                      <option value="4">Ford</option>
                      <option value="5">Honda</option>
                      <option value="6">Jaguar</option>
                      <option value="7">Land Rover</option>
                      <option value="8">Mercedes</option>
                      <option value="9">Mini</option>
                      <option value="10">Nissan</option>
                      <option value="11">Toyota</option>
                      <option value="12">Volvo</option>
                    </select>
                    <i class="fa-light fa-chevron-down"></i>
                </div>

            </div>
        </div>

        <!-- JS -->
        <script src="../assets/bootstrap-5.3.2/js/bootstrap.bundle.js"></script>
        <script src="../assets/swiper-slide/swiper-bundle.min.js"></script>
        <script src="../assets/js/jquery-3.7.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" integrity="sha512-JPcRR8yFa8mmCsfrw4TNte1ZvF1e3+1SdGMslZvmrzDYxS69J7J49vkFL8u6u8PlPJK+H3voElBtUCzaXj+6ig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../assets/js/customs.js"></script>






</body>

</html>